
.flex-box-one {
    background-color: #370617;
    height: 400px;
    max-width: 600px;
    margin: 20px;
    padding: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;

}


.card {
    background-color: rgba(244, 140, 6, 1);
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 100px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    gap: 10px;
    
    
}

.one, .two, .three, .four, .five {
    background-color: #9D0208;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    text-align: center;
   
}

.v-basic {
    justify-content: start;
    align-items: end;
}

.v-stretch .one,
.v-stretch .two,
.v-stretch .three {
    min-height: 100%;
}

.v-stretch {
    justify-content: center;
    
}

.v-flex-end {
    justify-content: end;
    align-items: center;
    
}

.v-space-between {
    justify-content: space-between;

}
.v-space-between .three {
    align-self: end;
}

.v-space-evenly {
    align-items: center;
    
}

.v-space-evenly .one, 
.v-space-evenly .three {
    min-height: 100%;
}

.v-center {
    justify-content: space-between;
    align-items:center;
}

.v-center .two {
    flex-grow: 1;
}
.flex-box-two {
    background-color: #FAA307;
    display: flex;
    max-width: 700px;
    width: 100%;
    height: 300px;
    margin: 20px;
    padding: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    

}

.circle-card {
    width: 200px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
   
}
 
.first, .second, .third, .fourth, .fifth {
    background-color: #03071E;

}

.second, .fourth {
    background-color: #6A040F;
}

.circle {
    background: #748CAB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}